body {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.items {
  position: relative;
  width: 450px;
  height: 450px;
  border: 2px dashed #333;
}

.cube {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #4f46e5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  user-select: none;
  font-size: 18px;
}

