body {
  margin: 0;
  padding: 0;
}

.items {
  width: 500px;
  border: 2px solid black;
  margin: 20px auto;
  position: relative;
}

.cube {
  width: 100px;
  height: 100px;
  background-color: steelblue;
  position: absolute;
  cursor: grab;
}
